{% extends 'base.html' %}


{% block title %}
    Eliminar
{% endblock title %}


{% block content %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Eliminar Empleado: {{ object.first_name }} {{object.last_name}}</h1>
            <form class="cell" method="POST">{% csrf_token %}
                <div class="callout secondary">
                    <h5>¿Desea eliminar el empleado?</h5>
                    <button type="submit" class="alert button">Confirmar</button>
                  </div>
            </form>
        </div>
    </div>
{% endblock content %}
    
    